<main>
    <section id="edit-container">
        <div class="edit-container-info">
            <h1>Edit Course</h1>
            <form method="POST">
                <label>Title:</label>
                <input name="title" type="text" id="title" value="{{post.title}}">

                <label>Type:</label>
                <input name="type" type="text" id="type" value="{{post.type}}">

                <label>Certificate:</label>
                <input name="certificate" type="text" id="certificate" value="{{post.certificate}}">

                <label>Image:</label>
                <input name="image" type="text" id="image" placeholder="{{post.image}}">

                <label>Description:</label>
                <textarea id="content" name="description">{{post.description}}</textarea>

                <label>Price:</label>
                <input name="price" type="number" id="price" value="{{post.price}}">

                <input type="submit" id="btn" value="Edit">
            </form>
        </div>
    </section>
</main>
